<!-- <div class="container d-navbar d-flex justify-content-between align-items-center">
    <h2 class="f-18">Fox.<br><span class="f-12">UNIVERSITY</span></h2>
    <div class="email">
        <img src="" alt="">
        <p>Email</p>
        <p>youremail@email.com</p>
    </div>
    <div class="tel">
        <img src="" alt="">
        <p>Call</p>
        <p>Call Us: + 1235 2355 98</p>
    </div>
    <app-button class="btn-success" text="Apply now"></app-button>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid d-bg ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-3 w-50 d-flex justify-content-between">
          <li class="nav-item">
            <a class="nav-link active d-nav-active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-nav-link col-wht" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-nav-link col-wht" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-nav-link col-wht" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-nav-link col-wht" href="#contact">Contact</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
            <div class="input-group sm-hide d-input">
                <input class="form-control border-end-0 border rounded-pill" type="text" placeholder="search" id="example-search-input">
               
         </div>
        </form> -->
     
      </div>
    </div>
  </nav>
