<footer>
    <div class="footer-content grey container-fluid-sm">
        <div class="row justify-content-between footer-row">
            <div class="col-sm-4 footer-topmost">
                <p class="lh-lg">At FOX UNIVERSITY, we provide competent <br>
                    employees that gives your business a <br>
                    competitive advantage, and builds a <br>
                     long term, mutually rewarding relationship.
                </p>
            </div>
            
            <div class="col-sm pl-lg lh-lg" id="contact">
                <h5 class="mb-2">Our Social Media</h5>
               
               <div class="social-media-icons d-flex gap-3">
                <a href="https://www.w3schools.com/"> <img class="icon-link" src="assets/images/icons/twitter.png" alt=""></a>
                <a href=" https://instagram.com/_siimii?igshid=YmMyMTA2M2Y="> <img class="icon-link" src="assets/images/icons/insta.png" alt=""></a>
                <a href="https://www.linkedin.com/in/racheal-adekanle-9102a9191/"> <img class="icon-link" src="assets/images/icons/lonk.jpg" alt=""></a>
                <a href=" https://github.com/siimiiblue"> <img class="icon-link" src="assets/images/icons/git.png" alt=""></a>

               </div>
            </div>
        </div>
    </div>
  
</footer>